{% props station %}

<div class="card">
    <twig:Station:Map station="{{ station }}" />

    <div class="card-body">
        <h5 class="text-truncate">{{ station.name }}</h5>
        <h6 class="card-subtitle text-muted">{{ station.brand }}</h6>
        <address class="card-text">
            {{ station.address.street }} {{ station.address.houseNumber }}<br />
            {{ station.address.postCode }} {{ station.address.city }}
        </address>
    </div>
</div>
