{% extends 'base.html.twig' %}

{% block title %}FuPrAn - Station - {{ station.name }}{% endblock %}

{% block breadcrumbs %}
    <twig:Station:BreadCrumbs station="{{ station }}" />
{% endblock %}

{% block body %}
    <div class="row row-cols-2 mb-4">
        <div class="col">
            <twig:Station:Info station="{{ station }}" />
        </div>

        <div class="col">
            <twig:Station:LatestPrices station="{{ station }}" />
        </div>
    </div>

    <div class="row row-cols-1 mb-4">
        <div class="col">
            <twig:Station:ChartTabs station="{{ station }}" />
        </div>
    </div>
{% endblock %}
