{% props fromDay = '2024-11-01', toDay = '2024-11-30' %}
<div
    {{ stimulus_controller('filter') }}
    {{ stimulus_action('filter', 'chartConnected', 'chart:connected@window') }}
>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text">From</span>
        <input type="date" {{ stimulus_target('filter', 'fromDay') }} class="form-control" name="fromDay" value="{{ fromDay }}" />
        <span class="input-group-text">To</span>
        <input type="date" {{ stimulus_target('filter', 'toDay') }} class="form-control" name="ToDay" value="{{ toDay }}" />
        <button type="button" {{ stimulus_action('filter', 'update', 'click') }} class="btn btn-primary">Filter</button>
    </div>
</div>
