<div
    {{ attributes }}
    data-controller="chart"
    data-chart-url-value="{{ this.chartHelper.baseUrl }}"
    data-chart-chart-value="{{ this.chartId }}"
    data-chart-station-value="{{ this.station is not null ? this.station.id : null }}"
    data-chart-fuel-value="{{ this.fuel }}"
>
    {% if this.allowRangeFilter %}
    <div>
        <label for="chartsFilterFromDay" class="form-label">Filter</label>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">From</span>
            <input type="date" data-chart-target="fromDay" class="form-control" id="chartFilterFromDay" name="fromDay" value="2024-11-01" />
            <span class="input-group-text">To</span>
            <input type="date" data-chart-target="toDay" class="form-control" id="chartFilterToDay" name="ToDay" value="2024-11-30" />
            <button type="button" data-action="click->chart#updateChartFilter" class="btn btn-primary">Filter</button>
        </div>
    </div>
    {% endif %}
    <div data-chart-target="chart" style="height: 600px;"></div>
</div>
