<div
    id="{{ this.uniqueId }}"
    style="height: 600px;"
    data-controller="chart"
    data-chart-url-value="{{ this.chartHelper.baseUrl }}"
    data-chart-chart-value="{{ this.chartId }}"
    data-chart-station-value="{{ this.station.id }}"
    data-chart-fuel-value="{{ this.fuel }}"
>
</div>
