<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Opening price</th>
        <th scope="col">Closing price</th>
        <th scope="col">Lowest price</th>
        <th scope="col">Highest price</th>
    </tr>
    </thead>
    <tbody>
    {% for dailyPrice in this.prices %}
        <tr>
            <th scope="row">{{ dailyPrice.day|date('d.m.Y') }}</th>
            <td><twig:Price price="{{ dailyPrice.openingPrice }}" /></td>
            <td><twig:Price price="{{ dailyPrice.closingPrice }}" /></td>
            <td><twig:Price price="{{ dailyPrice.lowestPrice.price }}" time="{{ dailyPrice.lowestPrice.date }}" /></td>
            <td><twig:Price price="{{ dailyPrice.highestPrice.price }}" time="{{ dailyPrice.highestPrice.date }}" /></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
